* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
}

/* Navbar */
.navbar {
    height: 64px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 13vw;
}

.navbar > img {
    height: 32px;
}

.navbar > div {
    margin-left: auto;
}

.navbar > div > a {
    margin: 0px 12px;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    letter-spacing: 1.1px;
}

.navbar > div > a.btn-link {
    padding: 10px 15px;
    color: #ffffff;
    background-color: black;
    border-radius: 7px;
}

/* For Header */
.header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > section {
    margin-left: 60px;
}

.first {
    display: flex;
    align-items: center;
    width: 40%;
}

.first p {
    font-family: "Nunito", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.first img {
    height: 15px;
    padding: 0px 10px;
}

.first a {
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    padding: 12px 15px;
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 10px;
    transition: 250ms;
}

.first a:hover {
    color: #ffffff;
    background-color: #000;
    border: 3px solid #000000;
    border-radius: 10px;
}

.second {
    width: 45%;
}

.second > img {
    width: 80%;
}

/* ------------------ Media Queries ------------------ */
