* {
    margin: 0;
    padding: 0;
}

/* For Navbar */
.navbar {
    height: 15vh;
    width: 100%;
    background-color: rgba(250, 248, 248, 0.6);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid #464646;*/
}

.navbar > img {
    height: 80px;
    margin-left: 50px;
}

.navbar > a {
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    text-decoration: none;
    padding: 20px 30px;
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 15px;
    letter-spacing: 1.5px;
    margin-right: 50px;
}
